/* header */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a,
u {
    color: inherit;
    text-decoration: none;
}


/* content */

#content::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

#footer {
    /* margin-top: 200px; */
    background-color: #b51717;
    color: #ffffff;
    text-align: right;
    font-size: 12px;
    padding: 15px;
}