* {
    box-sizing: border-box;
}
#container {
    max-width: 100%;
}

#heading {
    padding: 20px 60px;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    margin: auto;
}

#errMessage {
    margin-bottom: 30px;
}


#item-wrap {
    max-width: 360px;
    margin: auto;
}

.item-container {
    margin: 20px 0;
    float: initial;
    overflow: auto;
}

.item {
    float: inline-start;
}
.item::after {
    content: "";
    clear: both;
    display: table;
}

.select-btn {
    float: right;
}
.select-btn::after {
    content: "";
    clear: both;
    display: table;
}

.submit-btn {
    float: right;
}
.submit-btn::after {
    content: "";
    clear: both;
    display: table;
}