body {
    text-align: center;
    padding: 70px 0;
}

header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #123f93;
    margin-bottom: 50px;
}

#wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input[type="checkbox"] {
    margin: 5px 0;
}